/* GLOBAL */
:root {
  scroll-behavior: smooth;
  height: 100%;
}


body {
  height: 100%;
}
html {
  height: 100%;
  background: linear-gradient(180deg, #e7f1ff 0%, #4f69ff 100%);
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #5f5f65;
  background: transparent; 
  line-height: 1.8;
  letter-spacing: 0.2px;
  font-size: 15px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: #c00113;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 44px;
  font-style: normal;
  color: #333;
}

/* GLOBAL */


/* === GLOBAL BUTTONS === */
.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center;
  width: 100%;
}

.btn.primary {
  background: #0b3954;
  color: white;
}

.btn.primary:hover {
  background: #102a43;
}

.btn.secondary {
  background: white;
  color: #0b3954;
  border: 1px solid #cbd5e1;
}

.btn.secondary:hover {
  background: #f1f5f9;
}

/* === END BUTTONS === */

/* ===== GLOBAL THIN SCROLLBAR ===== */

/* Chrome / Edge / Opera */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent; /* невидимый по умолчанию */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  opacity: 0; /* скрыт */
  transition: opacity 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}

/* появляется только при движении мыши внутри скролла */
*::-webkit-scrollbar-thumb {
  opacity: 0;
}

*:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* проявляется */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.25) transparent;
}
